.nav{
    width: 100vw;
    /* background-color: black; */
    height: 80px;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}
a{
    
    text-decoration: none;
    color: white;  
    line-height: 20px;
    
}
li{
    list-style-type: none;
    display: inline;
    height: 20px;
}
td{
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    width: 250px;
}
.sponsorImg{
    width: 250px;
    padding: 20px;
}
.logo{
    color: white;
    font-family: Cattyla;
    flex-grow: 1;
    font-size: 45px;
    text-align: left;
    padding-left: 50px;
    /* padding: 20px 50px; */
    margin-top: auto;
    margin-bottom: auto;
/* 
    border: 3px solid red ; */
}
.nav{
    display: flex;
    text-align: center;

}
.nav2{
    display: flex;
    text-align: center;
    background: linear-gradient( #078ac2b5, rgba(0, 0, 0, 0.958));

}
.navLink{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;;
    padding: 14px 50px;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 3px solid red ; */
}
.navLink:hover{
    color:#000000;
    transition: 0.5s;
}
.banner{
    background-image: 
    linear-gradient( #078ac2b5, rgba(0, 0, 0, 0.958)), url('VCT.png');
    height: 30vw;
    /* background: linear-gradient(#2F92BE, black); */
}

#logo{
    justify-content: center;
    margin-left: 47vw;
    margin-right: auto;

    width: 100px;
    height: 100px;
}

#campions{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#valRosTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 18px;
    padding-left: 50px;
}
.valRoster{
  
    width: 150px;
    height: 200px;
    object-fit: cover;

 
}
.pfp{
  
    width: 250px;
    height: 250px;
    object-fit: cover;

 
}
.aboutText{
    color: white;
    max-width: 500px;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
}
.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 100vw;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding: 15px;
    left: 0;
    bottom: 0;
    background-color: rgba(91, 100, 111, 0.272);
    color: white;
    text-align: center;
}
.profileText{
    width: 25vw;
    color: white;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 15px;

}

@font-face {
    font-family: 'Cattyla'; /*a name to be used later*/
    src: url('Cattyla-nR5W0.ttf'); /*URL to font*/
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
